<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><add name="GiftsEntities" connectionString="metadata=res://*/Models.Gifts.gifts.csdl|res://*/Models.Gifts.gifts.ssdl|res://*/Models.Gifts.gifts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gift-prod.cmvxuygngrqs.ap-northeast-1.rds.amazonaws.com;initial catalog=Gifts;persist security info=True;user id=FEDS_DTO;password=datBKFfFr*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="Schedule.Enabled" value="true" />
    <add key="Schedule.Hour" value="0" />
    <add key="Schedule.Minute" value="10" />
    <add key="DuplicateCheck.CouponType" value="C" />
    <add key="DuplicateCheck.LogStatus" value="N" />
    <add key="DuplicateCheck.MemberIdPrefixPattern" value="[cbr]%" />
    <add key="DuplicateCheck.MaxDuplicateCount" value="" />
    <add key="DuplicateCheck.RequireModifyUser" value="true" />
    <add key="InvoiceResolver.ExchangeTable" value="ExchangeInvoice" />
    <add key="InvoiceResolver.MemberRecordTable" value="MemberRecord" />
    <add key="InvoiceResolver.TimeWindowMinutes" value="10" />
    <add key="Notification.Enabled" value="true" />
    <add key="Notification.EmailFrom" value="system_servie@mail2.feds.com.tw" />
    <add key="Notification.EmailTo" value="" />
    <add key="Notification.EmailDisplayName" value="抵用券排程" />
    <add key="Notification.SmtpHost" value="email-smtp.ap-northeast-1.amazonaws.com" />
    <add key="Notification.SmtpPort" value="587" />
    <add key="Notification.SmtpEnableSsl" value="true" />
    <add key="Notification.SmtpUser" value="AKIA6HEQJG6IXNL2HF2U" />
    <add key="Notification.SmtpPassword" value="BI1f6q9g7i/k8B9rR1IW3hwRee6jr5PJ9ny5t4VtHWZo" />
    <add key="Notification.SkipDuplicateNotification" value="false" />
    <add key="JobExecutionLog.Directory" value="logs" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>