<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}${onexception:inner= ${exception}}" />
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/coupon-duplicate-${shortdate}.log"
            layout="${longdate}|${level}|${message}${onexception:inner= ${exception}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
